# Virtual Environment
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# ChromaDB Storage
vector_db/

# Uploaded PDFs
data/

# Streamlit Cache
.streamlit/

# OS Files
.DS_Store
Thumbs.db